imports:
    - tests/Behat/Resources/suites.yml

default:
    extensions:
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - tests/Behat/Resources/services.yml

        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: AppKernel
                path: tests/Application/app/AppKernel.php
                bootstrap: vendor/autoload.php